<div class="h-screen flex flex-col overflow-hidden bg-slate-50">
    <app-navbar (toggleSidebar)="toggleSidebar()"></app-navbar>

    <mat-sidenav-container class="flex-1">
        <mat-sidenav [opened]="isSidebarOpen()" mode="side" class="border-r border-slate-200 !bg-slate-900">
            <app-sidebar></app-sidebar>
        </mat-sidenav>

        <mat-sidenav-content class="p-6 bg-slate-50 overflow-y-auto">
            <div class="max-w-7xl mx-auto">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>